<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-cs-12">
    <ng-template #recipeName>
      <h1>Recipe Name</h1>
    </ng-template>

    <h1 *ngIf="recipe; else recipeName">
      {{ recipe.name }}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-cs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <ng-template #recipeDesc>
    <div class="col-xs-12">
      Description
    </div>
  </ng-template>
  <div *ngIf="recipe; else recipeDesc" class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
